name: Fastlane

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2.1.0
        with:
          usePlayStoreLocales: true
